//
   Created by Dimitar on 9.1.2015 г..
extends layout
block content
   form.form-horizontal.jumbotron.water-mark(action="/changePassword" method="post")
      fieldset
         legend Сняма на парола
         .form-group
            label.col-lg-2.control-label(for="oldPassword") Стара парола
            .col-lg-10
               input.form-control(type="password" id="oldPassword" name="oldPassword" required placeholder="*****")
         .form-group
            label.col-lg-2.control-label(for="newPassword") Нова парола
            .col-lg-10
               input.form-control(type="password" id="newPassword" name="newPassword" required placeholder="*****")
         .form-group
            label.col-lg-2.control-label(for="confirmPassword") Потвърждаване на парола
            .col-lg-10
               input.form-control(type="password" id="confirmPassword" name="confirmPassword" required placeholder="*****")
         button.btn.btn-primary(type="submit") Смени паролата
