//
   Created by Dimitar on 8.1.2015 г..
extends layout
block content
   .jumbotron.water-mark
      h2 УСЛОВИЯ ЗА УЧАСТИЕ В ИГРА С ТОМБОЛА ЗА ОЧИЛА ОТ СПЕЦИАЛНАТА КОЛЕКЦИЯ НА ПРЕСТИЖНАТА ФРЕНСКА МАРКА PARASITE EYEWEAR
      p Право на участие в томболата: Всеки пълнолетен участник в играта, който е приел настоящите условия. В томболата не се допуска участие на служители на Parasite Eyewear и Oryx Trade EOOD (официален представител на Parasite Eyewear за България)
      p Механизъм на играта: За да е валидно участието в играта, участникът трябва да хареса facebook страницата на организатора, да попълни своите данни и да приеме настоящите условия. Период на играта: 10 януари - 10 февруари 2015г.
      p Награда: слънчеви очила от специалната колекция на френската марка Parasite Eyewear
      p Избор на победител: Победителят ще бъде изтеглен на случаен принцип в официалния шоу-рум на Parasite Eyewear в присъствието на нотариус на 12 февруари 2015г.
      p Информация за победителя ще бъде публикувана на facebook страницата на Parasite Bulgaria на 12 февруари 2015г.
      p Организаторът се задължава да уведоми победителя от томболата на 12 февруари 2015г. по електронен път. В случай че обявеният победител не осъществи обратна връзка в рамките на 5 работни дни считани от датата на публикуване на резултатите,  организаторът ще предостави наградата на друг участник .
      p Настоящата игра не е обвързана със закупуване на продукти на Parasite Eyewear
      p Наградата от играта не може да бъде заменена с паричната и равностойност.
      p Организаторът се задължава, относно събирането, обработването, използването, съхранението и унищожаването на личните данни на участниците в играта, да спазва разпоредбите на Закона за защита на личните данни и подзаконовите нормативни актове по приложението му, в това число да използва личните данни на участниците само за провеждането на играта по посочените правила и да не предоставя същите на трети лица.
      p С участието си в играта, участниците се съгласяват да получават информация по електронен път за предстоящи кампании, специални предложения, събития и актуални новини от страна на организатора. Победителят се съгласява организаторът да публикува печатен и/или снимков материал с него по повод наградата, без допълнително заплащане за това.
      p Организатор: Oryx Trade EOOD, официален представител на Parasite Eyewear за България.