doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Parasite Eyewear томбола
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap_cyborg.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr-2.6.2.js')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.nav-brand-same-color-size(href='/') Начало
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/register') Регистрация
            li
              a(href='/conditions') Условия
            if user
              li
                a(href='/all') Всички участници
              li
                a(href='/changePassword') Смяна на парола
              li
                a(href='/logout') Излез
    .container.body-content
      br
      if warning
        .alert.alert-dismissable.alert-warning
          button.close(type="button" data-dismiss="alert") ×
          h4 Внимание!
          p #{warning}
      if success
        .alert.alert-dismissable.alert-success
          button.close(type="button" data-dismiss="alert") ×
          h4 Поздравления!
          p #{success}
      div.wrapper
        block content
      hr
      footer.text-justify.panel-footer.water-mark
        p
          a(href="http://www.parasite-eyewear.com/" target="blank") Parasite Eyewear
          | &nbspе френска марка за очила, или ... повече от това. Вече 14 години дръзките дизайнерски модели, изработени от най-висококачествения титан, налагат нови стандарти в представите за носене на очила. Поляризираните стъкла, създават перфектна видимост и оптимален комфорт за очите, а разработените от Parasite "стерео рамки" правят очилата изключително леки, но много здрави - с нулев натиск върху носа и ушите.
          div.text-center &copy; #{year}
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')

    block scripts
